.all1{
  width: 100%;
  height: 100%;
  // background-image: linear-gradient(120deg, #48c6ef 40%, #66a6ff 100%);
  background-image: linear-gradient(-20deg, #00c6fb 0%, #005bea 100%);
  color: #fff;
}
.all2{
  width: 100%;
  height: 100%;
  // background-image: linear-gradient(-220deg, #209cff 0%, #68e0cf 100%);
  // color: #fff;
}
.all3{
  width: 100%;
  height: 100%;
  // background-image: linear-gradient(-220deg, #22b36f 0%, #17c9ff 100%);
  // color: #fff;
}
.all4{
  width: 100%;
  height: 100%;
  // background-image: linear-gradient(-225deg, #23cbf5 0%, #8983d8 100%);
  // color: #fff;
}

.p1{
  font-size: 16px;
}
.p2{
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}